<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>You've got an Error!</title>

    <style >

      ul {
        list-style: none;
      }

    </style>
  </head>

  <body>
    <h1>Error!!</h1>

    <%= e.message %>

    <br/><br/>

    <h2>Error Source</h2>
    <h4>File: <%= e.backtrace.first.split(":").first %></h4>
    <% formatted_lines = find_relevant_code(e) %>

    <ul>
    <% formatted_lines.each do |line| %>
          <li><%= line %></li>
      <% end %>
    </ul>

    <h2>Stack Trace</h2>

    <% trace = e.backtrace %>
    <ul>
      <% trace.each do |line| %>
      <li><%= line + "\n"%></li>
      <% end %>
    </ul>

  </body>
</html>
